*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

html,
body {
    box-sizing: inherit;
    height: 100%;
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.wrapper {
    background-color: rgb(170, 32, 44);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 800px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

table {
	border-collapse: collapse;
}

td {
	border: 3px solid rgb(133, 133, 133);
	width: 120px;
	height: 120px;
	cursor: pointer;
	grid-row: 1;
	// background-image: url('../img/cross.png');
	// background-image: url('../img/null.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0.3;
	// &:hover {
	// 	background-image: url('../img/null.png');
	// 	background-image: url('../img/cross.png');
	// }
}

table tr:first-child td {
	border-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}
table tr td:last-child {
	border-right: 0;
}
.app {
	display: grid;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	row-gap: 50px;
	position: relative;
}
.turn-text {
	font-size: 18px;
	max-width: 80px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	font-family: 'Roboto';
}
.turn-icon {
	width: 60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #000;
    background-color: #fff;
	background-image: url('../img/cross.png');
	// background-image: url('../img/null.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: block;
}
.turn {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row: 1;
	grid-column: 2;
}


.restart {
	width: 200px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px #000;
    background-color: rgb(37, 104, 17);
	color: #fff;
	cursor: pointer;
	justify-self: center;
	grid-column: span 2;
	outline: none;
	&:hover {
		background-color: lighten(rgb(37, 104, 17), 5%);
	}
	&:active {
		box-shadow: inset 0px 0px 10px 1px #000;
	}
}

.winner {
	position: absolute;
	width: 60%;
    height: 150px;
	left: 50%;
	transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #000;
    background-color: rgb(67, 163, 207);
	z-index: 2;
	color: #fff;
	font-size: 42px;
	text-align: center;
	line-height: 150px;

	display: none;
}